# Byte-compiled / cached
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Database and local files
*.sqlite3
db.sqlite3

# Uploaded media files
uploads/

# Model files
*.h5
*.pkl

# IDE and OS-specific
.vscode/
.DS_Store
