<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Detection</title>
    <link rel="stylesheet" href="../statics/style.css">
</head>
<body>
    <!-- Navigation bar -->
    <header class="navbar">
        <div class="nav-container">
            <h2 class="logo">Deepfake Detection</h2>
            <nav>
                <ul class="nav-links">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./aboutus.html">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="container">
        <h2>About Us</h2>
        <p>
            We are a dedicated team focused on detecting deepfake content using advanced AI and machine learning. Our mission is to ensure the authenticity of digital media, helping users easily identify real versus manipulated videos.
        </p>
        <p>
            Continuously innovating, we strive to stay ahead of emerging challenges in deepfake detection, providing accurate and reliable tools you can trust.
        </p>
    </div>
    <script src="../script.js"></script>
</body>
</html>
